@import ./../Common/styleVars
.block
  width: 95%
  height: 99%
  margin: 5px
  position: relative
  ::-webkit-scrollbar
    width: 17px
  ::-webkit-scrollbar-track-piece
    background-color: rgb(255, 0, 0)
    border: solid 7px $background1
  ::-webkit-scrollbar-thumb
    height: 20px
    background-color: $background1
    border: solid 1px red
    border-radius: 6px
    box-shadow: inset 0 0 5px rgb(255, 6, 0)
.list
  width: 100%
  height: 95%
  overflow: auto

.listMenu
  position: absolute
  bottom: 0
  left: 2%
